dotenv
numpy
streamlit
langchain
langgraph
langchain-mcp-adapters
langchain_community
langchain-openai
langchain_classic
langchain_text_splitters
langchain_chroma
langchain-tavily
# tavily_python #changing this to use tavily abstraction from langchain
